#navbar_wrap .inner
  padding: 5px 10px
  display: flex
  flex-direction: row
  align-items: stretch

#navbar_wrap .inner > *
  color: darkgray
  text-align: center
  font-weight: bold
  padding: 0px 10px
  border-left-color: gray
  border-left-style: solid
  border-left-width: thin

#navbar_wrap .inner > :last-child
  border-right-color: gray
  border-right-style: solid
  border-right-width: thin
